html, body {
    /* min height helps tells the browser that the animated gradient wont make an odd line. So in a sense the
       the gradient is infinately long. */
    min-width: 100%;
    min-height: 100%;
    margin: 0px;
    font-family: 'Courier New', monospace;
}
body {
    background: linear-gradient(-45deg, #408EC6,  #7A2048, #1E2761);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;   
}

@keyframes gradient {
    0% {
	background-position: 0% 50%; 
    }
    50% {
	background-position: 100% 50%; 
    }
    100% {
	background-position: 0% 50%;
    }
}

/* handles titles and text */
h1 {
    color: ghostwhite;
    text-align: center;
}
h2 {
    color: ghostwhite;    
}
p {
    margin-left: 10% ;
    margin-right: 10% ;
    font-size: 130%;
    text-align: center;
    color: ghostwhite;
}

/* handles navigation bar */

div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}   
ul.nav{
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(-45deg, #408EC6,  #7A2048, #1E2761);
}

ul.nav li {    
    float:left;
    padding-top: 0px;
}

ul.nav li a {
    color: ghostwhite;
    display: block;
    padding: 1vw;
    text-align: center;
    text-decoration: none;
}

ul.nav li a {
    font-size: 125%;
    color: ghostwhite;
    text-decoration: none;
}

ul.nav li a:hover, a:active {
    color: black;
    background-color: lightgrey;
}
/* links */
div.github {
    padding-top: 30%;
    text-align: center;    
}

ul.links {
    list-style-type: none;
    
}
ul.links li a {
    text-decoration: none;
    color: ghostwhite;    
    font-size: 1.5em;
}


