html, body {
    height: 100%;
    background-color: grey;
    margin: 0px;
}
h1 {
    color: ghostwhite;
    text-align: center;
}
h2 {
    color: ghostwhite;    
}
p {
    color: ghostwhite;
    text-align: center;
    font-size: 25px;
    margin-left: 10%;
    margin-right: 10%;
}
.full-height {
    height: 100%
}
/* links */

ul.nav {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: lightslategray;
}

li {    
    float:left;
    padding-top: 0px;
}

li a {
    color: ghostwhite;
    display: block;
    padding: 30px;
    text-align: center;
    text-decoration: none;
}

a {
    font-size: 125%;
    color: ghostwhite;
    text-decoration: none;
}

a:hover, a:active {
    color: black;
    background-color: lightgrey;
}
.github {
    padding-top: 30%;
    text-align: center;

}
.links {
    color: ghostwhite;
    font-size: 150%;
    text-align: center;
}
