/* Please  */

html, body {
    height: 100%;
    background-color: grey;
    margin: 0px;
}
h1, h3 {
    color: ghostwhite;
    text-align: center;
}

/* paragraph */
.intro, .first, .second, .third, .fifth { /*for pragraphs*/
    word-spacing: 2px;
    font-size: 20px;    
    margin-left: 5%;
    margin-right: 5%;
    padding: 5px;
    text-indent: 100px;
    line-height: 120%;
    color: ghostwhite;
    float: left;
    position: relative;  /*keeps text in margin*/
}

/* links */

 ul.nav {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: lightslategray;
}

li {
    float: left;
    padding-top: 0px;
}
li a {
    color: ghostwhite;
    display: block;
    padding: 30px;
    text-align: left;
    text-decoration: none;    
}

a {
    font-size: 125%;
    color: ghostwhite;
    text-decoration: none;
}

a:hover, a:active {
    color: ghostwhite;
    background-color: lightgrey;
}
.sources {
    font-size: 110%;
    padding-top: 10px;
    text-align: center;
    color: ghostwhite;
}

.citation {
    font-size: 30px;
    padding-top: 50%;
    text-align: center;
    color: ghostwhite;
}


    
    
